*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}
nav.menu{
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}
nav.menu ul{
    list-style: none;
}
nav.menu >ul{
    display: table;
    overflow: hidden;
    width: 100%;
    background-color: aquamarine;
    position: relative;
}


nav.menu> ul li{
    display:table-cell;
}

nav.menu >ul li a{
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: black;
}

div
{
    width: 100%;
}

nav.submenu{
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}
nav.submenu ul{
    list-style: none;
}
nav.submenu >ul{
    display: table;
    overflow: hidden;
    width: 100%;
    
    position: relative;
}


nav.submenu> ul li{
    display:table-cell;
}

nav.submenu >ul li a{
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: black;
}

div.titulos{
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    padding: 1.5rem;
    font-size: 30px;
}

img.portadas{
    height:360px;
    width: 230px;
    border-radius: 20px;
    border: 5px solid #ccc;
}
