{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/transform-new-target",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
