@font-face {
  font-family: 'Nanum Gothic';
  src: url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");
}

.poster{
	width: 300px;
	height: 500px;
	float: right;
}
.info p{
	padding:0 0 1em 0;
	line-height: 140%;
	color: white;
	text-align: justify;
}
.info h2{
	color: whitesmoke;
	text-align: center;
}
div.info{
	width: 640px;
	height: 300px;
	margin-top: 150px;
	font-family: 'Nanum Gothic', sans-serif;
}
.video{

width: 640px;
height: 200px;

}

.video .poster{
	display: inline;
}
div.contenedor{
width: 960px;
height: 900px;
margin:  auto;
margin-top: 50px;
}
h2{
	color: #981914;
}

input{
	color: #981914;
	border-radius:5px;
	padding: 0 20px;
}
input:hover{
	background-color:#f6f5f5f1;
	border-color:#f6f5f5f1;
	cursor:pointer;
}
