div.titulos{
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    padding: 1.5rem;
    font-size: 30px;
}

div>p{
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    padding: 0.5rem;
}

div.descripcion >div.logo{
   left: 15em;
}

#mapa{
    text-align: left;
    padding-left:35%;
    list-style-type: upper-roman;
}
#submapa{
    padding-left:5%;
}
footer{
    margin-top:5%;
    padding-bottom:7%
}
.mapa{
    background-color:#f6f5f5;
    margin: 25px 25%;
    border-radius:50px;
}
.mapa ul, .mapa li{
    color:#981914
}