.container{
  font-size: 18px;
  font-family: "Century Gothic";
  margin-bottom: 30px;
  text-align: center;
}
.productos button{
  background-color: rgb(108, 126, 245);
  color: #fff;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.carrito{
  font-size: 22px;
  color: rgb(226, 244, 88);
  font-family: "Century Gothic";
}
.total{
  font-size: 30px;
  color: rgb(173, 173, 173);
}
.total span{
  font-size: 30px;
  color: rgb(173, 173, 173);
}
