.poster{
	width: 300px;
	height: 500px;
	float: right;
}
.info p{
	padding:0 0 1em 0;
	line-height: 140%;
	color: #6d6d6d;
	text-align: justify;
}
div.info{
	width: 640px;
	height: 300px;
	margin-top: 150px;
	font-family: 'Nanum Gothic', sans-serif;
}
.video{

width: 640px;
height: 200px;

}

.video .poster{
	display: inline;
}
div.contenedor{
width: 960px;
height: 900px;
margin:  auto;
margin-top: 50px;
}
h2{
	color: #981914;
}
