div.titulos{
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    padding: 1.5rem;
    font-size: 30px;
}

div>p{
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    padding: 0.5rem;
}

div.descripcion >div.logo{
   left: 2em;
  }