body{
  text-align: center;
}
.imagen{
  border-radius: 20px;
  width: 400px;
  height: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.descuento{
  text-align: center;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}
.descrip{
  font-size: 25px;
}
.titulo{
  font-size: 30px;
  font-family: "Century Gothic",sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  border-style: solid;
  border-color: black;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
#ultima{
  margin-bottom: 50px;
}
