.container{
    height: 100%;
    position: relative;
    margin:0 2%;
    align-items: center;
}
.galery-title{
    width: 100%;
    position: relative;
    text-align:center;
}
.card-cont{
    display: flex;
    flex:row;
    justify-content: center;
}
.card{
    display: flex;
    flex: auto;
    justify-content: center;
    width: 35%;
    max-width: 470px;
    min-width: 300px;
    margin:1%;
    padding: 1.5% 0.5%;
    border-radius:10px;
    background-color:rgba(0,0,0,0.2);
    text-align: center;
}
.card-img{
    position: relative;
    width:90%;
    align-items: center;
}
