:root {
  --first: #981914 !important;
  --first-dark: #982b3a;
  --first-border: #983247;
  --second: #f6f5f5f1 !important;
}

.bg-first {
  background-color: var(--first);
}

.bg-second {
  background-color: var(--second);
}

.text-second{
  color: var(--second);
}

.btn-first-hover {
  color: var(--first);
  font-size: 1.3rem;
  font-weight: 600;
}

.btn-first-hover:hover {
  color: #fff !important;
  background-color: var(--first);
  border-color: var(--first-border);
}
.btn-first-hover.active:hover{
  color: var(--first);
}

/* --------------------------------------- */

.window-enter {
    opacity: 0.01;
}

.window-enter.window-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.window-exit {
    opacity: 1;
}

.window-exit.window-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

/* --------------------------------------- */

body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#app {
  height: 100%;
}

#navbar {
  box-shadow: 0 5px 3px var(--second);
}
